.container {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 5px;
  width: 100vw;
  padding-top: 50px;
  justify-content: center;
  align-items: center;
}

.board-btn {
  height: 100px;
}

.btns {
  display: flex;
  justify-content: center;
  gap: 10px;
}

h1,
h2 {
  text-align: center;
}

.hidden {
  display: none;
}
